/* PAYROLL*/
/* #payroll {
  background-image: url("payroll/static/assets/img/search.png");
  background-repeat: no-repeat;
  width: 30rem;
  height: 20px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  margin-bottom: 12px;
} */

.pr-table {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  height: 70px;
  font-size: 18px; /* Increase font-size */
}

.pr-table th, .pr-table td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

.pr-container {
  width: 100%;
  padding: 2rem;
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.pr {
  width: 100%;
  height: 70px;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.pr-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pr-box1 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1rem 1rem;
  gap: 50px;
  overflow-y: scroll;
}

tr:nth-child(even) {
  background-color: #fff6f6;
}

/* PAYROLL */ 