* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.primary-bg {
  background-color: #000000;
}

.secondary-bg {
  background-color: #414141;
}

.primary {
  color: #E40813;
}

.secondary {
  color: #FF7062;
}

.tertiary {
  color: #ffffff
}

/* BASE  */

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.aside-main {
  height: 100vh;
  width: 13%;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: white dotted 1px;
  align-items: center;
}

.logo > img {
  width: 100%;
  padding: 1rem;
}

.aside-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  color: white;
}

.aside-menu>span {
  padding-right: 8rem;
  font-size: 25px;
  font-weight: 600;
}

.aside-menu>ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  gap: 40px;
}

/* .aside-menu>ul>li>img {
  height: 40px;
  width: 40px;
  position: absolute;
  top: -10px;
  left: -2.3rem;
} */

.icon {
  position: absolute;
  font-size: 20px;
  left: -25%;
  color: white;
}

.aside-menu>ul>li {
  position: relative;
  font-size: 16px;
  font-weight: 300;
}

.aside-menu>ul>li>a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.aside-menu>ul>li>a:hover {
  color: #FFC5BF;
}

.aside-menu>ul>li>a:hover .icon{
  color: #c76156;
}

.wrapper1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav-main {
  height: 10vh;
  width: 100%;
  display: flex;
}

.nav-user {
  height: 100%;
  width: 100%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.nav-profile {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4.5rem;
}

.nav-profile>p {
  padding-right: 1rem;
}

.profile > img {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.modal {
  display: none;
  justify-content: flex-end;
  align-items: flex-start;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 10vh;
  padding-right: 2rem;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
}

.mini-menu>ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mini-menu>ul>li>a, .mini-menu>ul>li:hover {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.mini-menu>ul>li>a:hover, .mini-menu>ul>li:hover {
  color: #E40813;
}

.wrapper2 {
  width: 100%;
  height: 100%;
}

/* BASE  */

/* DASHBOARD */

.dash-container {
  width: 100%;
  padding: 2rem;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.dash {
  width: 100%;
  height: 5%;
}

.dash-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dash-box1,
.dash-box2,
.dash-box3 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1rem 5rem;
  gap: 20px;
}

.dash-box1>div {
  width: 100%;
  height: 100%;
  background-color: #E84434;
  border-radius: 15px;
}

.dash-box2>div:first-child {
  width: 75%;
  height: 100%;
  background-color: #FFC5BF;
  border-radius: 15px;
}

.dash-box2>div {
  width: 25%;
  height: 100%;
  background-color: #FFC5BF;
  border-radius: 15px;
}

.dash-box3>div {
  width: 100%;
  height: 100%;
  background-color: #FFC5BF;
  border-radius: 15px;
}

/* DASHBOARD */

/* LOGIN */

.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  width: 20rem;
  height: 20rem;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.login-logo {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.login-form {
  padding: 2rem;
}

.login-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}

.login-box > p {
  color: white;
  font-size: 15px;
  display: block;
}

.login-box > input {
  border-radius: 10px;
  height: 50px;
  padding: 5px;
}

.btn {
  border-radius: 10px;
  height: 50px;
  /* background-color: #FF7062; */
  background-color: #ee3740;
  cursor: pointer;
}

.btn:hover {
  background-color: #FF7062;
}

/* LOGIN */

/* EMPLOYEE LIST */

.emplist-container {
  width: 100%;
  padding: 2rem;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.emplist {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.emplist > input {
  width: 20rem;
  height: 1.5rem;
}

.emplist-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.emplist-box1{
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1rem 1rem;
  gap: 20px;
  overflow-y: scroll;
}

.emplist-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.table-head {
  width: 10rem;
  height: 20px;
}

.table-head > th {
  width: 20%;
  height: 20px;
  border-bottom: solid 1px black;
}

.table-content {
  width: 100%;
  height: 20px;
  text-align: center;
}

.table-content > td {
  width: 20%;
  height: 40px;
}

tr:nth-child(even) {
  background-color: #fff0ee;
}

/* EMPLOYEE LIST */

/* TIME SHEET*/

.ts-container {
  width: 100%;
  padding: 2rem;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.ts {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
}

.ts>input {
  width: 20rem;
  height: 1.5rem;
}

.ts-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ts-box1 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1rem 1rem;
  gap: 20px;
  overflow-y: scroll;
}

.ts-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}

.table-head {
  width: 10rem;
  height: 20px;
}

.table-head>th {
  width: 20%;
  height: 20px;
  border-bottom: solid 1px black;
}

.table-content {
  width: 100%;
  height: 20px;
  text-align: center;
}

.table-content>td {
  width: 20%;
  height: 40px;
}

tr:nth-child(even) {
  background-color: #fff0ee;
}

/* TIME SHEET*/

/* PAYROLL*/

.pr-container {
  width: 100%;
  padding: 2rem;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.pr {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
}

.pr>input {
  width: 20rem;
  height: 1.5rem;
}

.pr-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.pr-box1,
.pr-box2,
.pr-box3 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1rem 5rem;
  gap: 20px;
}

.pr-box1>div {
  width: 100%;
  height: 100%;
  background-color: #E84434;
  border-radius: 15px;
}

.pr-box2>div:first-child {
  width: 75%;
  height: 100%;
  background-color: #FFC5BF;
  border-radius: 15px;
}

.pr-box2>div {
  width: 25%;
  height: 100%;
  background-color: #FFC5BF;
  border-radius: 15px;
}

.pr-box3>div {
  width: 100%;
  height: 100%;
  background-color: #FFC5BF;
  border-radius: 15px;
}

/* PAYROLL*/