* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.primary-bg {
  background-color: #000000;
}

.secondary-bg {
  background-color: #414141;
}

.primary {
  color: #E40813;
}

.secondary {
  color: #FF7062;
}

.tertiary {
  color: #ffffff
}

/* BASE  */

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.aside-main {
  height: 100vh;
  width: 15%;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: white solid 1px;
  align-items: center;
}

.aside-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  color: white;
}

.aside-menu>span {
  padding-right: 8rem;
  font-size: 25px;
}

.aside-menu>ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  gap: 20px;
}

.aside-menu>ul>li {
  font-size: 25px;
  cursor: pointer;
}

.aside-menu>ul>li:hover {
  color: #FFC5BF;
}

.wrapper1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nav-main {
  height: 10vh;
  width: 100%;
  display: flex;
}

.nav-user {
  height: 100%;
  width: 100%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.nav-profile {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4.5rem;
}

.nav-profile>p {
  padding-right: 1rem;
}

.profile {
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.modal {
  display: none;
  justify-content: flex-end;
  align-items: flex-start;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 10vh;
  padding-right: 2rem;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem;
}

.mini-menu>ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mini-menu>ul>li {
  cursor: pointer;
}

.mini-menu>ul>li:hover {
  color: #E40813;
}

.wrapper2 {
  width: 100%;
  height: 100%;
}

/* BASE  */

/* DASHBOARD */

.dash-container {
  width: 100%;
  padding: 2rem;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.dash {
  width: 100%;
  height: 5%;
}

.dash-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dash-box1,
.dash-box2,
.dash-box3 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1rem 5rem;
  gap: 20px;
}

.dash-box1>div {
  width: 100%;
  height: 100%;
  background-color: #E84434;
  border-radius: 15px;
}

.dash-box2>div:first-child {
  width: 75%;
  height: 100%;
  background-color: #FFC5BF;
  border-radius: 15px;
}

.dash-box2>div {
  width: 25%;
  height: 100%;
  background-color: #FFC5BF;
  border-radius: 15px;
}

.dash-box3>div {
  width: 100%;
  height: 100%;
  background-color: #FFC5BF;
  border-radius: 15px;
}

/* DASHBOARD */

/* EMPLOYEE LIST */

/* EMPLOYEE LIST */

/* TIME SHEET*/

/* TIME SHEET*/

/* PAYROLL*/

/* PAYROLL*/