/* TIME SHEET*/
/* #employee-timesheet {
  background-image: url("payroll/static/assets/img/search.png");
  background-repeat: no-repeat;
  width: 30rem;
  height: 20px;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  margin-bottom: 12px;
} */

#timesheet {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  height: 30px;
  font-size: 18px; /* Increase font-size */
}

#timesheet th, #timesheet td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

.ts-container {
  width: 100%;
  padding: 2rem;
  height: 90vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.ts {
  width: 100%;
  height: 70px;
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-between;
}

.ts-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ts-box1 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 1rem 1rem;
  gap: 20px;
  overflow-y: scroll;
}


tr:nth-child(even).active {
  background-color: #d3d3d3;
}

tr:nth-child(even) {
  background-color: #fff6f6;
}

th:last-child {
  padding-right: 1rem;
}

td:last-child {
  padding-right: 1rem;
}

.active {
  background-color: #d3d3d3;
}
/* TIME SHEET*/