
{{define "title"}}
<title>{{.Title}}</title>
{{end}}
{{define "content"}}
<!-- <div class="">
  <div class="">
    <div>
        <h1 class="bold">Dashboard</h1>
          <p><a href="/home">Home page</a></p>

      </div>
  </div>
</div> -->
<main class="dash-container">
  <div class="dash">
    <h1>Dashboard</h1>
  </div>
  <div class="dash-wrapper">
    <div class="">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div>
      <div></div>
      <div></div>
    </div>
    <div>
      <div></div>
    </div>
  </div>
</main>
{{end}}
