{{define "title"}}
<title>{{.Title}}</title>
{{end}}
{{define "content"}}
<!-- <div class="">
  <div class="">
    <div>
      <h1 class=""><strong>Welcome to the Employee List.</strong></h1>
      <p><a href="/system/payroll">Go to Payroll</a></p>
      <p><a href="/system/dashboard">Go to Dashboard</a></p>
      <p><a href="/system/employee-list">Go to Employee List</a></p>
      <p><a href="/system/time-sheet">Go to Time Sheet</a></p>


    </div>
  </div>
</div> -->

<main class="dash-container">
  <div class="dash">
    <h1>Employee List</h1>
  </div>
  <div class="dash-wrapper">
    <div class="dash-box1">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="dash-box2">
      <div></div>
      <div></div>
    </div>
    <div class="dash-box3">
      <div></div>
    </div>
  </div>
</main>

{{end}}