{{define "title"}}
<title>{{.Title}}</title>
{{end}}
{{define "content"}}

<main class="emplist-container">
  <div class="emplist">
    <h1>Employee List</h1>  
    <button class="btn4 xs" id="add-emp">Add Employee</button>
      <div>
        <input type="text" class="search-bar" id="employeeList" onkeyup="employeeFunction()" placeholder="Search for Employee Name..">
      </div>
  </div>
  <div class="emplist-wrapper">
    <div class="emplist-box1">
      <table class="emplist-table" id="employee-table">
        <tr class="table-head">
          <th><input class="selectAll"  type="checkbox"></th>
          <th>ID</th>
          <th>Employee Name</th>
          <th>Company</th>
          <th>Department</th>
          <th>Contact</th>
        </tr>
        {{range .Employee}}
        <tr class="employee-content">
          <td><input class="select" type="checkbox" value="Edit"></td>
          <td>{{.IdNumber}}</td>
          <td>{{.LastName}}, {{.FirstName}}</td>
          <td>{{.Company.Worksite}}</td>
          <td>{{.Department.Name}}</td>
          <td>{{.ContactNumber}}</td>
        </tr>
        {{end}}
      </table>
    </div>
  </div>
  <div id="empModal" class="modal">
    <!-- Modal content -->
    <div class="empModal-content">
      <span class="step"></span>
          <span class="step"></span>
          <span class="step"></span>
          <span class="close">&times;</span>
      <div class="tab">
        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
        </div>
      <h1 id="beif">Basic Employment Information Form</h1>
      <h2 id="pi">Personal Information</h2>
      
      <form id="regform" action="" method="post">
      <div class="per-info">
        <div class="empModal-form">
            <label for="lname">Last Name:</label>
            <input type="text" id="lname" name="lname" >
        </div>
        <div class="empModal-form">
            <label for="fname">First Name:</label>
            <input type="text" id="fname" name="fname" >
        </div>
        <div class="empModal-form">
            <label for="mname">Middle Name:</label>
            <input type="text" id="mname" name="mname" >
        </div>
        <div class="empModal-form">
            <label for="sname">Suffix Name:</label>
            <input type="text" id="sname" name="sname" >
        </div>
        <div class="empModal-form">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" >
        </div>
        <div class="empModal-form">
            <label for="phone">Phone:</label>
            <input type="number" id="phone" name="phone"  >
        </div>
        <div class="empModal-form"> 
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" >
        </div>
        <div class="empModal-form">
          <label for="birthDate">Birthday:</label>
          <input type="date" id="birthDate" name="birthDate" >
        </div>
        <div class="empModal-form">
          <label for="marital">Marital Status:</label>
          <select id="marital" name="marital" required>
              <option value="0">Select Status</option>
              <option value="1">Single</option>
              <option value="2">Married</option>
              <option value="3">Widowed</option>
              <option value="4">Seperated</option>
             

            </select>
        </div>
      </div>    
      <div class="gov-id">
        <div class="empModal-form">
          <label for="sss">SSS:</label>
          <input type="text" id="sss" name="sss" >
        </div>
        <div class="empModal-form">
          <label for="philhealth">PhilHealth:</label>
          <input type="text" id="philhealth" name="philhealth" >
        </div>
        <div class="empModal-form">
          <label for="pagibig">Pag-Ibig:</label>
          <input type="text" id="pagibig" name="pagibig" >
        </div>
        <div class="empModal-form">
          <label for="tin">Tin ID:</label>
          <input type="text" id="tin" name="tin" >
        </div>
      </div>
      </div>
      
      <div class="tab">
      <h2 id="ji">Job Information</h2>
        <div class="empModal-form">
            <label for="department">Department:</label>
            <select id="department" name="department" required>
                <option value="">Select Department</option>
                {{range .Department}}
                  <option value="{{.ID}}">{{.Name}}</option>
                {{end}}
            </select>
        </div>
        <div class="empModal-form">
          <label for="branch">Branch:</label>
          <input type="text" id="branch" name="branch" required>
        </div>
        <div class="empModal-form">
          <label for="supervisor">Supervisor:</label>
            <select id="supervisor" name="supervisor" required>
              <option value="0">Select Supervisor</option>
              {{range .Employee}}
                {{if eq .Supervisor true}}
                <option value="{{.ID}}">{{.LastName}}, {{.FirstName}} -- {{.Department.Name}}</option>
                {{end}}
              {{end}}
            </select>
        </div>
        <div class="empModal-form">
            <label for="position">Position:</label>
            <select id="position" name="position" required>
              <option value="0">Select Position</option>

                 
                <option value="1">test static</option>

            </select>
        </div>
        <div class="empModal-form">
            <label for="salary">Salary:</label>
            <input type="number" id="salary" name="salary" placeholder="₱" required>
        </div>
        <div class="empModal-form">
            <label for="startDate">Start Date:</label>
            <input type="date" id="startDate" name="startDate" required>
        </div>
      </div>
      
      <div class="tab">
      <h2 id="ECI">Emergency Contact Information</h2>
        <div class="empModal-form">
          <label for="contactname">Full Name:</label>
          <input type="text" id="contactname" name="contactname" required>
        </div>
        <div class="empModal-form">
          <label for="contactphone">Phone Number:</label>
          <input type="number" id="contactphone" name="contactphone" required>
        </div>
        <div class="empModal-form">
          <label for="relationship">Relationship</label>
          <input type="text" id="relationship" name="relationship" required>
        </div>
        <div class="empModal-form">
          <label for="notes">Notes:</label>
          <textarea id="notes" name="notes"></textarea>
        </div class="submit">
          <button type="submit" class="btn1">Submit</button>
        </div>

          <div class="buttons">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
          </div>  
          
    </form>
    </div>
  </div>
</main>

{{end}}