{{define "title"}}
<title>{{.Title}}</title>
{{end}}
{{define "content"}}
<!-- <div class="">
  <div class="">
    <div>
      <h1 class=""><strong>Payroll.</strong></h1>
      <p><a href="/system/payroll">Go to Payroll</a></p>
      <p><a href="/system/dashboard">Go to Dashboard</a></p>
      <p><a href="/system/employee-list">Go to Employee List</a></p>
      <p><a href="/system/time-sheet">Go to Time Sheet</a></p>


    </div>
  </div>
</div> -->

<main class="pr-container">
  <div class="pr">
    <h1>Payroll</h1>
    <input>
  </div>
  <div class="pr-wrapper">
    <div class="pr-box1">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="pr-box2">
      <div></div>
      <div></div>
    </div>
    <div class="pr-box3">
      <div></div>
    </div>
  </div>
</main>
{{end}}