{{define "title"}}
<title>{{.Title}}</title>
{{end}}
{{define "content"}}

<main class="pr-container">
  <div class="pr">
    <h1>Payroll</h1>
    <input>
  </div>
  <div class="pr-wrapper">
    <div class="pr-box1">
      <table class="pr-table">
        <tr class="table-head">
          <th>ID</th>
          <th>Employee Name</th>
          <th>Status</th>
          <th>Position</th>
          <th>Rate/Hr</th>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>Active</td>
          <td>Software Developer</td>
          <td>₱ 500.00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>Active</td>
          <td>Software Developer</td>
          <td>₱ 500.00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>Active</td>
          <td>Software Developer</td>
          <td>₱ 500.00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>Active</td>
          <td>Software Developer</td>
          <td>₱ 500.00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>Active</td>
          <td>Software Developer</td>
          <td>₱ 500.00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>Active</td>
          <td>Software Developer</td>
          <td>₱ 500.00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>Active</td>
          <td>Software Developer</td>
          <td>₱ 500.00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>Active</td>
          <td>Software Developer</td>
          <td>₱ 500.00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>Active</td>
          <td>Software Developer</td>
          <td>₱ 500.00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>Active</td>
          <td>Software Developer</td>
          <td>₱ 500.00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>Active</td>
          <td>Software Developer</td>
          <td>₱ 500.00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>Active</td>
          <td>Software Developer</td>
          <td>₱ 500.00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>Active</td>
          <td>Software Developer</td>
          <td>₱ 500.00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>Active</td>
          <td>Software Developer</td>
          <td>₱ 500.00</td>
        </tr>
       
      </table>
    </div>
  </div>
</main>
{{end}}