{{define "title"}}
<title>{{.Title}}</title>
{{end}}
{{define "content"}}

<main class="ts-container">
  <div class="ts">
    <h1>Time Sheet</h1>
    <input>
  </div>
  <div class="ts-wrapper">
    <div class="ts-box1">
      <table class="ts-table">
        <tr class="table-head">
          <th>ID</th>
          <th>Employee Name</th>
          <th>Time In</th>
          <th>Time Out</th>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>9:00</td>
          <td>18:00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>9:00</td>
          <td>18:00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>9:00</td>
          <td>18:00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>9:00</td>
          <td>18:00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>9:00</td>
          <td>18:00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>9:00</td>
          <td>18:00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>9:00</td>
          <td>18:00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>9:00</td>
          <td>18:00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>9:00</td>
          <td>18:00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>9:00</td>
          <td>18:00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>9:00</td>
          <td>18:00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>9:00</td>
          <td>18:00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>9:00</td>
          <td>18:00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>9:00</td>
          <td>18:00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>9:00</td>
          <td>18:00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>9:00</td>
          <td>18:00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>9:00</td>
          <td>18:00</td>
        </tr>
        <tr class="table-content">
          <td>000001</td>
          <td>John Doe</td>
          <td>9:00</td>
          <td>18:00</td>
        </tr>
      </table>
    </div>
  </div>
</main>

{{end}}